* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-montserrat);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

main {
    padding: 0 10px;
    margin: 0 auto;

}
.main__wrapper {
    padding: 55px 10px;
    margin: 0 auto;

 }

.main__title {
    font-weight: 700;
    font-size: 28px;
    color: #252B42;
    letter-spacing: 0.2px;
    line-height: 39px;

    margin-bottom: 35px;
}



@media (min-width: 1440px) {

    main {
        max-width: 1046px;
        padding: 0;
    }

    .main__wrapper {
        padding: 98px 0;
    }

    .main__title {
        font-weight: 700;
        font-size: 58px;
        letter-spacing: 0.2px;
        line-height: 80px;
    }
  }


